#menu-bar-1{
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 33.5px;
    background-color: #231F20;
    padding-left: 40px;
}
#menu-bar-1 li{
    list-style: none;
    
}
#menu-bar-1 li a{
    text-decoration: none;
    color: white;
    font-family: "Antenna-Regular" ,sans-serif;
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.24px;
    
}
.material-symbols-outlined{
    font-size: 13px;      
    text-decoration: none;
    font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' 0,
          'opsz' 2;
          color: #fff;
          width: 3px;
          padding-top: 5px;
    
}
#menu-bar-1 li a:hover{
    text-decoration: underline;
    
}
#menu-bar-2{
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    background-color: red;
    padding-left: 20px;
}
#menu-bar-2 li{
    list-style: none;
}
#menu-bar-2 li a{
    text-decoration: none;
    padding: 12px 20px;
    font-family: "Antenna-Bold";
    font-size: 17px;
    /* letter-spacing: 0.24px; */
    color: white;
    
}
#menu-bar-2 li:first-child a{
    color: black;
    
}
#menu-bar-2 li:nth-child(6) a{
    background-color: rgba(255, 255, 255, 0.356);
    border-radius: 30px;
    margin-left: 20px;
}
#menu-bar-2 div img{
    position: absolute;
    right: 0;
    top: 44px;
}
#menu-bar-2 li a:hover{
    color: black;
    
}
#wanitha{
    height: 450px;
    /* background-color: blueviolet; */
}
#wanitha img{
    height: 100%;
    width: 100%;
}
.features{
    height: 330px;
    padding: 50px 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
}
#content{
    display: flex;
    width: 1170px;
    height: 230px;
    /* background-color: #231F20; */
    padding-left: 15px;
    padding-right: 15px;
    flex-wrap: wrap;
    justify-content: center;
}
.feature{
    height: 115px;
    width: 380px;
    padding-left: 15px;
    padding-right: 15px;
    /* background-color: red; */
    
}
.ref{
    height: 100%;
    width: 100%;
    /* background-color: gray; */
    display: flex;
    text-decoration: none;
    align-items: center;
}
.image-icon{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E6E6E6;
    border-radius: 50%;
}
.image-icon img{
    width: 45px;
    height: 45px;
}
h4{
    color: #000;
    font-size: 1.5rem;
    font-family: "Antenna-Medium";
    margin-left: 10px;
    margin-bottom: 0;
}
.navigation{
    height: 500px;
    background-color: #000;
    display: flex;
}
.navigation-image{
    width: 100%;
    background-size: contain; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    color: #fff;
    font-family: "Antenna-Bold";
    font-weight: normal;
    text-align: center;
    font-size: 26px;
    line-height: 1.1;
    height: 57.2pxpx;
    width: 100%;
    margin-bottom: 20px;
}
p{
    color: #fff;
    font-family: "Antenna-Regular";
    font-weight: normal;
    text-align: center;
    line-height: 1.428571429;
    font-size: 18px;
    height: 77.15px;
    width: 100%;
}
.link{
    padding: 10px 15px;
    min-width: 140px;
    text-align: center;
    height: 39px;
    border: 2px solid #fff;
    border-radius: 100px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-family: "Antenna-Medium";  
}
.locate{
    height: 240px;
    background-color: #D8232A;
    display: flex;
    position: relative;
}
#container-left{
    height: 240px;
    width: 770px;
    background-color: #671C1A;
    position: relative;
    
}
#container-left-context{
    height: 240px;
    width: 360px;
    /* background-color: #2e6833; */
    position: absolute;
    right: 0;
    padding: 0 15px;
    display: flex;
    align-items: center;   
}
#clc{
    width: 310px;
    height: 151px;
    /* background-color: wheat;   */
}
#clc h4{
    font-family: "Antenna-Bold", sans-serif;
  font-weight: normal;
  font-size: 28px;
  color: white;
  margin-bottom: 18px;
  margin-left: 0;
}
#clc p{
    font-family: "Antenna-Regular", sans-serif;
    font-weight: normal;
    font-size: 18px;
    text-align: left;   
}
#container-right{
    height: 240px;
    width: 770px;
    position: relative;
    display: flex;
    align-items: center;
    
}
#container-right-context{
    height: 151px;
    width: 650px;
    /* background-color: yellow; */
    position: absolute;
    right: 0;
    
    display: flex;
    align-content: center; 
    flex-wrap: wrap; 
    /* padding-left: 50px;  */
}
#checkbox-options{
    height: 27.85px;
    /* background-color: blue; */
    width: 100%;
    display: flex;
    column-gap: 10px;
}
#search-bar{
    height: 50px;
    /* background-color: red; */
    width: 100%;
}
.checkbox{
    font-family: "Antenna-Medium";
    font-size: 16px;
    height: 100%;
    width: 142px;
    /* background-color: aqua; */
    margin-right: 20px;
    color:#fff
    
}
#search{
    height: 50px;
    width: 624px;
    font-family: "Antenna-Regular";
    font-size: 16px;
    padding: 6px 12px;
    
}
footer{
    height: 300px;
    background-color: #000;
    display: flex;
    justify-content:center ;
    align-items: center;
}
footer #menu{
    height: 270px;
    width: 1170px;
    /* background-color: aqua; */
}
#menu-items{
    height: 82px;
    width: 100%;
    /* background-color: lime; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #333333;
    margin-bottom: 15px;
    
}
#menu-items li{
    padding: 10px 15px;
}
#menu-items li:first-child ,#menu-items li:last-child{
    padding-left: 0;
}
#menu-items li a{
    font-family: "Antenna-Regular", sans-serif;
  color: #CECECE;
  font-size: 1.3rem;
  text-decoration: none;
}
#menu-items li a:hover{
    text-decoration: underline;
}
.row-text-content{
    height: 120px;
    width: 100%;
    /* background-color: #a73636; */
}
.copy{
    color: #727272;
  letter-spacing: 0.26px;
  font-family: "Antenna-Regular", sans-serif;
  text-align: center;
  font-size: 12px;
  padding-top: 30px;
}
.credit{
    font-size: 1.4rem;
    color: #727272;
    letter-spacing: 0.26px;
    line-height: 4.5rem;
    font-family: "Antenna-Regular", sans-serif;
    text-align: center;
}
.credit a{
    /* text-decoration: none; */
    font-family: "Antenna-Regular", sans-serif;
    color: #727272;
}
.floating-menu{
    position: fixed;
    right: 0;
    top: 39%;
    z-index: 3;   
}
.floating-menu li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 50px;
    height: 50px;
    border-left: 1px solid #D8D8D8;
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    cursor: pointer;
    list-style: none;
    color: #828282;
    align-items: center;
}
.floating-menu-2{
    position: fixed;
    left: 0;
    top: 39%;
    z-index: 3;   
}
.floating-menu-2 li:first-child{
    background-color: #39579A;
    border-radius: 0 3px 0 0;
}
.floating-menu-2 li:nth-child(2){
    background-color: #007BB6;
}
.floating-menu-2 li:nth-child(3){
    background-color: #A728A8;
}
.floating-menu-2 li:nth-child(4){
    background-color:  #E92A1D;
}
.floating-menu-2 li:last-child{
    background-color: #1DA8E2;
    border-radius: 0 0 3px 0;
}

.floating-menu-2 li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    height: 50px;

    cursor: pointer;
    list-style: none;
    color: #828282;
    align-items: center;
}
.floating-menu-2 li i{
    font-size: 18px;
    /* font-size: 1.8rem; */
    color: #fff;
}